{% if READTHEDOCS %}
{# Add rst-badge after rst-versions for small badge style. #}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> Read the Docs</span>
      v: {{ current_version }} [{{ language }}]
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">

      <dl>
        <dt>{{ _('Versions') }}</dt>
        {% for slug, url in versions %}
          <dd><a href="{{ url }}">{{ slug }}</a></dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>{{ _('Downloads') }}</dt>
        {% for type, url in downloads %}
          <dd><a href="{{ url }}">{{ type }}</a></dd>
        {% endfor %}
      </dl>

      <dl>
        {# Translators: The phrase "Read the Docs" is not translated #}
        <dt>{{ _('On Read the Docs') }}</dt>
          <dd>
            <a href="//{{ PRODUCTION_DOMAIN }}/projects/{{ slug }}/?fromdocs={{ slug }}">{{ _('Project Home') }}</a>
          </dd>
          <dd>
            <a href="//{{ PRODUCTION_DOMAIN }}/builds/{{ slug }}/?fromdocs={{ slug }}">{{ _('Builds') }}</a>
          </dd>
      </dl>

    </div>
  </div>
{% else %}
{# Add rst-badge after rst-versions for small badge style. #}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> {{ _('Options') }}</span>
      {{ language }}
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl id="select_version">
        <dt>{{ _('Select Version') }}</dt>
      </dl>
      <script>list_versions('{{ language }}', '{{ pagename }}', '{{ _("stable") }}',  '{{ _("latest") }}');</script>
      <dl>
        <dt>{{ _('Select Language') }}</dt>
        {% if supported_languages %}
        {% for lang_code, lang_title in supported_languages %}
        <dd><a href="{{ url_root }}../{{ lang_code }}/{{ pagename }}.html" class="__ptNoRemap">{{ lang_title }}</a></dd>
        {% endfor %}
        {% else %}
        <dd><a href="{{ url_root }}../en/{{ pagename }}.html" class="__ptNoRemap">English</a></dd>
        {% endif %}
      </dl>

      <dl>
        <dt>{{ _('Downloads') }}</dt>
        <dd><a href="/downloads/MusicBrainz_Picard_{{ major_minor }}_[{{ language }}].pdf" target="_blank" class="__ptNoRemap">{{ _('PDF File') }}</a></dd>
        <dd><a href="/downloads/MusicBrainz_Picard_{{ major_minor }}_[{{ language }}].epub" target="_blank" class="__ptNoRemap">{{ _('epub File') }}</a></dd>
        <dd><a href="/downloads/MusicBrainz_Picard_{{ major_minor }}_HTML_[{{ language }}].zip" target="_blank" class="__ptNoRemap">{{ _('HTML Files') }}</a></dd>
        <dd><a href="/downloads/MusicBrainz_Picard_Tag_Map.xlsx" target="_blank" class="__ptNoRemap">{{ _('Tag Map Spreadsheet') }}</a></dd>
      </dl>

    </div>
  </div>
{% endif %}
